<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <div class="main">

        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% 
                                let total=0; 
                                carts.forEach(c=>{ 
                            %>
                                <tr>
                                    <td>
                                        <%- c.name %>
                                    </td>
                                    <td>
                                        <%- c.quantity %>
                                    </td>
                                    <td>
                                        <%- c.price %>,00$
                                    </td>
                                </tr>
                                <% total +=c.quantity*c.price; }); %>
                        </tbody>
                    </table>
                </div>
                <div class="col-6 ">
                    <div class="row mt-3">
                        <div class="col-6 border-right">
                            <h4 class="py-2">Total price: <span id="price"><%- total%></span>,00$</h4>
                            <a href="javascript:void(0)" class="btn btn-primary" id="payment">Payment</a><br>
                        </div>
                        <div class="col-6">
                            <button class="button-19" id="connMM">Connect Metamask</button>
                            <p class="button-18"><span>your wallet: </span>
                                <span id="wallet"> </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="waitpayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ĐANG XỬ LÝ THANH TOÁN</h5>
                </div>
                <div class="modal-body" id="wait-c">
                    Hệ thống đang xử lý thanh toán, vui lòng không đóng cửa sổ !
                </div>
            </div>
        </div>
    </div>


    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <%- include('../partials/foot') %>
</body>

</html>